<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="Logs/Run-internal.log"
      internalLogLevel="Info" 
	  throwConfigExceptions="true">
    <variable name="CustomLayout" value="${date}|${threadid}|TraceId=${gdc:item=TraceId}|${level:uppercase=true}|${message} ${exception}"/>
	<extensions>
		<add assembly="NLog.AWS.Logger" />
	</extensions>
	<!-- the targets to write to -->
	<targets>
		<target name="asyncFile" xsi:type="AsyncWrapper">
			<target xsi:type="File" 
					name="file"
					keepFileOpen="true"
					fileName="Logs/${cached:cached=true:inner=${date:format=yyyy-MM-dd HH-mm-ss}}.txt"
					layout="${CustomLayout}" />
		</target>
		
		<target name="aws" 
				type="AWSTarget" 
				LogGroup ="/ecs/task/test-vendorintg" 
				region="us-east-1" 
				layout="${CustomLayout}" />
		
		<target name="logconsole" 
				xsi:type="ColoredConsole" 
				layout="${CustomLayout}" />
	</targets>
	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="aws" />
		<!--<logger name="*" minlevel="Info" writeTo="logconsole" />-->
		<!--<logger name="*" minlevel="Info" writeTo="asyncFile" />-->
	</rules>
</nlog>